*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
table
{
    border-collapse: collapse;
}