*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
}
#employeesTable
{
    border-collapse: collapse;
}
.label, .dataTable, .dataFoot, .dataTableA
{
    border:2px solid black;
}
th,td
{
    border:2px solid black;
    padding: 5px;
}
.button{
    width: 30%;
}
#sort,#month{
    width: 20%;
}
button{
    background-color: lightcyan;
    border: 1px solid darkcyan;
    margin: 2.5%;
    border-radius: 5px;
    width: 45%;
}