<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <!-- <script src="./js/vue.global.js" defer></script> -->
    <script src="js/main.js" type="module"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ titre }}</h1>
        <table v-if="cartes != null && cartes.cartes.length > 0">

            <thead>
                <tr>
                    <th v-for="attribut in clesCarte">
                        {{ attribut }}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="carte in cartes.cartes">
                    <td v-for="data in carte.getValues()">
                        {{ data }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <template v-for="stat in ['attack','armor','played','victory']">
                    <tr>
                        <th :colspan="forColspan">
                            Joueur avec la stat "{{ stat }}" la plus élevée
                        </th>
                    </tr>
                    <tr>
                        <th v-for="attribut in cartes.getFirst().getKeys()">
                            {{ attribut }}

                        </th>
                    </tr>
                    <tr>
                        <td v-for="joueur in cartes.getCarteMaxStat(stat)">
                            {{ joueur }}
                        </td>
                    </tr>
                </template>
            </tfoot>
        </table>


        <!--<div v-if="cartes != null && cartes.cartes.length>0">
            <table v-for="stat in ['attack','armor','played','victory']">
                <tbody>
                    <tr>
                        <th colspan="12">
                            Joueur avec la stat "{{ stat }}" la plus élevée
                        </th>
                    </tr>
                    <tr>
                        <th v-for="attribut in cartes.getFirst().getKeys()">
                            {{ attribut }}

                        </th>
                    </tr>
                    <tr>
                        <td v-for="joueur in cartes.getCarteMaxStat(stat)">
                            {{ joueur }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->
    </div>
</body>
</html> 
